---
import type { ResumeSchema } from "@kurone-kito/jsonresume-types";
import Link from "../Link.astro";
interface Props {
  data: NonNullable<ResumeSchema["projects"]>;
}

const { data } = Astro.props;
---

<h2 class="text-gray-500 text-2xl font-normal uppercase m-0">Projects</h2>
<ul class="list-none p-0">
  {
    data.map((d) => (
      <li class="max-w-4xl">
        <Link target="_blank" href={d.url}>
          {d.name}
        </Link>
        &#58;&nbsp;<span>{d.description}</span>
      </li>
    ))
  }
</ul>
