---
import type { ResumeSchema } from "@kurone-kito/jsonresume-types";
import Link from "../Link.astro";
import Subheader from "./Subheader.astro";
import ListItem from "./ListItem.astro";
import List from "./List.astro";
interface Props {
  data: NonNullable<ResumeSchema["projects"]>;
}

const { data } = Astro.props;
---

<Subheader>Projects</Subheader>
<List>
  {
    data.map((d) => (
      <ListItem>
        <Link target="_blank" href={d.url}>
          {d.name}
        </Link>
        &#58;&nbsp;<span>{d.description}</span>
      </ListItem>
    ))
  }
</List>
