---
import { Content as About } from "../content/about.mdx";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageName="Home" showSiteHeader>
  <div class="prose">
    <About />
  </div>
</BaseLayout>
