---
import SiteHeader from "../components/SiteHeader.astro";
import { Content as About } from "../content/about.mdx";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageName="Home">
  <SiteHeader />
  <div class="prose">
    <About />
  </div>
</BaseLayout>
