@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --font-sans: Open Sans, sans-serif;

  --space-0: 0;
  --space-1: 4;
  --space-2: 8;
  --space-3: 16;
  --space-4: 32;
  --space-5: 64;
  --space-6: 128;
  --space-7: 256;
  --space-8: 512;
  --space-length: 9;

  --color-text: #000;
  --color-background: #fff;
  --color-primary: #32cd32;
  --color-muted: #999999;
  --color-separator: #00000014;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility primary-link {
  /**
   * Some common styles that apply to most buttons
   */
  @apply no-underline;
  @apply text-primary;
  @apply hover:text-background;
  @apply hover:bg-primary;
  @apply font-normal;
  @apply px-0.5;
}